@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Nanum+Pen+Script&family=Poppins:wght@700');

:root {
  --bg:#1a1b23;
  --teks: #e1e1e1;
  --tersier: #ffbe26;

  /* gradien */
  --grad-header: linear-gradient(320deg, #42caff 0%, #c100d6 100%);
  --grad-matkul: linear-gradient(240deg, #f9c824 0%, #fc4f6c 100%);
  --grad-prkt:  linear-gradient(90deg, #abfda0 0%, #12d5f3 100%);

}

::-webkit-scrollbar {
  width: 0;
  /* background: transparent; */
  display: none;
}

body {
  margin: 0;
  font-family: 'overpass', sans-serif;
  background-color: var(--bg);
  color: var(--teks);
}

body, input[value="Kembali ke atas"] {
    transition: all .5s;
}

.wrapper {
  margin: auto;
}

.card {
  margin: 1.25rem .9rem;
  border-radius: 8px;
  padding: 12px;
}

header {
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  z-index: 999;
  background-color: #1d2433c6;
  box-shadow: 0px 4px 8px #1118;
  backdrop-filter: blur(4px) saturate(120%);
}

header h1 {
  margin: 0;
  font-family: 'Nanum Pen Script', sans-serif;
  line-height: 3rem;
  width: fit-content;
  background: var(--grad-header);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#jadwal .hari {
  background: #232639;
  padding: 0.5rem 16px;
  border: 1px solid #2f2f38;
}

.hari > span {
  display: inline-block;
  margin: .5rem 0 .1rem;
  border-bottom: 1px solid #888;
  width: fit-content;
  color: var(--tersier);
  font-weight: bold;
}

/*
.wrapperKelas {
}
*/

.kelas {
  padding: 1rem 2rem;
  margin: 1rem 0;
  text-align: center;
  box-shadow: 6px 6px 8px #171b26, -6px -6px 8px #2f334b;
  background-color: #1f223d;
}

.wrapper-tempat {
  margin-top: .36rem;
  padding-top: 0;
}

.kelas .jam, .kelas .ruang {
  font-size: .8rem;
  width: fit-content;
  padding: 0.35rem 0.5rem 0.1rem;
  border: 1px solid var(--teks);
}

.kelas .jam {
  color: var(--bg);
  margin-right: -2px;
  padding-right: 0.4rem;
  border-right: 0;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: var(--teks);
}

.kelas .ruang {
  color: var(--teks);
  margin-left: -2px;
  padding-left: 0.4rem;
  border-left: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.kelas .matkul {
  background: var(--grad-matkul);
}

.kelas .mk-prak {
  background: var(--grad-prkt);
}

.kelas .matkul, .kelas .mk-prak {
  display: block;
  margin: auto;
  padding: 0.75rem 0;
  width: fit-content;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "poppins", sans-serif;
  font-size: 1.25rem;
}


.kelas .dosen, #munggah span {
  font-size: .86rem;
}

.wrapper-dosen {
  border-top: .5px solid var(--teks);
  /* width: 50%; */
  margin: 0 auto;
}

.kelas .dosen {
  padding-top: 0.4rem;
  /* width: 90%; */
  margin: 0.3rem auto 0;
  position: relative;
  bottom: -0.3rem;
}

input[value="Kembali ke atas"] {
  font-family: inherit;
  margin: 2rem auto;
  display: block;
  width: fit-content;
  padding: .6rem .8rem .45rem;
  border: none;
  border-radius: 2rem;
  background: var(--tersier);
  color: var(--bg);
  box-shadow: 0px 9px 20px 0px #a18517;
  cursor: pointer;
}

input[value="Kembali ke atas"]:hover, input[value="Kembali ke atas"]:active {
  background: var(--teks);
  color: var(--bg);
  box-shadow: 0px 9px 20px 0px var(--teks);
}

#munggah span {
  display: inline-block;
}

/* ============ responsive ============ */

@media screen and (min-width: 481px) {
  #jadwal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }

  #jadwal .hari {
    width: 256px;
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .matkul {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 720px) {
  .wrapper {
    width: 90%;
  }

  #munggah {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .hari {
    width: 100%;
    max-width: 1120px;
    padding-bottom: .7rem;
  }

  .hari > span {
    margin: .8rem 0 .3rem;
  }

  .wrapperKelas {
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .matkul {
    margin: .7rem;
    width: 232px;
  }
}
